@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

*{
    font-family: "Roboto", sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faf2df;
}

section{
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a74545;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgb(0,0,0,0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #c85a5a;
}

.social-media-button{
    display: flex;
    gap: 18px;
}

.social-media-button a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #ffffff;
    color: #1d1d1d;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-button a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title{
    color:#a74545;
    font-size: 1.563rem;
}

.section-subtitle{
    font-size: 2.1875rem;
}