#testimonials{
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-bottom: 5%;
}

#testimonials_chef{
    width: 600px;
    height: auto;
}

#testimonials .section-subtitle{
    font-size: 3rem;
}

#testimonials_content{
    width: 50%;
}

#feedback{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}



.feedback-content p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.feedback-content p span{
    color: #e9a20e;;
}

@media screen and (max-width: 1170px){
    #testimonials{
        flex-direction: column;
    }

    #testimonials .section-subtitle{
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonials_chef{
        display: none;
    }

    #testimonials_content{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #feedback{
        display: flex;
       
    }
}

@media screen and (max-width: 600px){
    #testimonials .section-subtitle{
        text-align: center;
        font-size: 2rem;
    }

    #testimonials_content{
        width: 70%;
    }

    .feedback{
        flex-direction: column;
    }

    .feedback-content p{
        margin-bottom: 5%;

    }
}